# Node modules (Frontend)
frontend/node_modules/

# Virtual environment (Backend)
backend/venv/

# SQLite Database
backend/random_numbers.db

# Python cache files
*.pyc
__pycache__/

# Environment variables
.env
